* {
	box-sizing: border-box;

}



.link {
	text-decoration: none;
    color: #f53b0a;
    border-bottom: .0625rem solid #f53b0a;
    padding-top: .05rem;
    padding-bottom: .05rem;
    transition: all .4s ease-in-out,color .4s ease-in-out;   
}

.link:hover {
	color: rgb(24, 168, 216);
	border-bottom: .0625rem solid rgb(24, 168, 216);
	transition: all .4s ease-in-out, color .4s ease-in-out;
}


#logo {
	height: 12vh;
}

#title {
	margin: 2vw;
	font-size: 3rem;
	font-weight: bold;
}


#section1 {
	z-index: 100;
}

#nav {
	height: '50vw'
}
