@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');


#section1{
	height: 50vh;
	background-color: #8bdf92;
	text-align: center;
	font-size: 5vmax;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	font-family: 'Bebas Neue', cursive;
	margin-top: -8vh;
}

.h1-text {
	font-size: 7vmax;
}

.h3-text{
	font-size: 3vmax;
}


.logo-img {
	width: 50%;
	
}

.header-text {
	font-size: 8vmax;
}

#section2 {
	background-image: url('https://wallpapercave.com/wp/4dqP3rn.jpg');
	height: 50vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: repeat-y;

	/* background-repeat: no-repeat;
	background-position-x: right;
	background-size: cover;
	background-position-y: center;
	height: 50vh; */
	font-size: 5vh;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: -8vh;
	color: white;
	font-family: 'Poppins', sans-serif;
}

#section2 h2 {
	padding-top: 10vh;
}

#section3 {
	background-image: url('https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581678662/DCUK/Content/iStock-959080376.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: repeat-y;
	background-position-x: 10%; 
	background-position-y: -40%;
	height: 60vh;
	font-size: 5vh;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
}

#section4 {
	background-image: url(https://d2wkegjj8g6j4.cloudfront.net/images/categories/campaign_images/000/000/050/original/Football.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: repeat-y;
	background-position-x: 10%; 
	height: 50vh;
	font-size: 5vh;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
}

#section5 {
	background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd2v9y0dukr6mq2.cloudfront.net%2Fvideo%2Fthumbnail%2FB04Gfy1teiz3sdqe6%2Fvideoblocks-gym-woman-strength-training-lifting-dumbbell-weights-getting-ready-for-exercise-workout-female-fitness-girl-exercising-indoor-in-fitness-center_b2wkmhutig_thumbnail-full01.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background-size: cover;
	/* background-repeat: cover;*/
	background-position-x: 10%; 
	
	height: 50vh;
	font-size: 5vh;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
}
