#flag-football {
	margin: 5vh auto;
	width: 70vw;
	display: flex;
	flex-direction: column;
}

#flag-football div {
	align-self: center;
}

#ff-contain {
	text-align: center;
}

#ff-title {
	font-size: 3rem;
    line-height: 1;
    margin-bottom: .9375rem;
    letter-spacing: -.05rem;
    font-weight: 700;
    color: #000;
    text-align: center;
}

#ff-subtitle {
	text-align: center;
    margin-top: 8vh;
}

#ff-paras {
	margin: 5vh 10vw;
    text-indent: 2vw;
}

#ff-body-ul li {
	margin: 5vh 10vw;
}