#flag-football {
	text-align: center;
}

.ff-title {
	font-size: 3rem;
}

.ff-subtitle {
	font-size: 1.5rem;
}

.ff-paragraph {
    margin: 5vh 20vw;
    text-indent: 2vw;
}

.ff-rules-container {
	display: block;
	width: 70vh;
	margin: 0 auto;
	text-align: left;
}


.ff-rules-video {
	margin: 0 auto;
}

