#body {
    margin: 5vh auto;
	width: 70vw;
	display: flex;
	flex-direction: column;

}

#body div {
	align-self: center;
}

.header {
    color: #541168;
    font-family: Open Sans;
}


p {
    font-family: 'Maven Pro', sans-serif;
}

.title {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: .9375rem;
    letter-spacing: -.05rem;
    font-weight: 700;
    text-align: center;

}

.subtitle {
    text-align: center;
    margin-top: 8vh;
}


.paragraph {
    margin: 5vh 10vw;
    text-indent: 2vw;
}

.body-ul li{
    margin: 5vh 10vw;
}

.rules-container{
    display: block;
    width: 50vw;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10vh;
}
