#strength-training {
    margin: 5vh auto;
	width: 70vw;
	display: flex;
	flex-direction: column;

}

#strength-training div {
	align-self: center;
}

.st-title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: .9375rem;
    letter-spacing: -.05rem;
    font-weight: 700;
    color: #000;
    text-align: center;

}

.st-subtitle {
    text-align: center;
    margin-top: 8vh;
}


.st-paragraphs {
    margin: 5vh 10vw;
    text-indent: 2vw;
}

.st-body-ul li{
    margin: 5vh 10vw;
}


.videos {
	display: flex;
	flex-direction: column;
}

.video {
	margin: 5vh 0;

}